
Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.CSV
Prosper Load/Source Data/*.xml
Prosper Load/Source Data/ProsperXMLtoCSV.jar
Prosper Load/Source Data/*.zip
Prosper Load/Source Data/AuthDownload*.aspx
